*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section.preface{
    background-image: url(./images/edufordsquare.png);
    background-position: center;
    background-size: 100%;
    height: 100vh;
}

section.preface .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section.preface div.top picture img{
    margin: 30px 90px;
}

section.preface div.top nav.ford ul.ford-item {
    display: flex;
    margin: 30px 90px;
}

section.preface div.top nav.ford ul.ford-item li.ford-items{
    list-style: none;
}

section.preface div.top nav.ford ul.ford-item li.ford-items a{
    text-decoration: none;
    padding: 20px;
    color: white;
    font-size: 13px;
    font-family: sans-serif;
    font-weight:600;
}

section.preface div.center{
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.preface div.center h1{
    color: white;
    font-family: sans-serif;
    font-size: 62px;
    margin-top: 140px;
}

section.preface div.center p{
    color: white;
    font-family: sans-serif;
    font-size: 14px;
    margin: 30px 90px;
    line-height: 22px;
    padding: 10px;
}

section.preface div.center button{
    color: white;
    background: transparent;
    border: 1px solid white;
    width: 200px;
    height: 50px;
}

section.side{
    height: 100vh;
}

section.side div.side-top h2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 110px;
    font-family: sans-serif;
    font-size: 36px;
    font-weight: 600;
}

section.side div.side-top p{
    color: #777;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 200;
    padding: 10px;
    margin: 10px 120px;
    line-height: 22px;
}

section.side div.column{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 60px;
    padding: 0 50px;
}

section.side div.column div.row-column{
    width: 380px;
    background-color: #fff3f3;
    border-radius: 20px;
    height: 280px;
}

section.side div.column div.row-column h3{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    margin-top: 20px;
}

section.side div.column div.row-column p{
    font-family: sans-serif;
    font-size: 14px;
    color: #777;
    line-height: 22px;
    padding: 20px;
    margin-bottom: 20px;
}


section.global div.global-top h2{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    font-size: 36px;
    font-weight: 600;
    padding: 10px;
}

section.global div.global-top p{
    line-height: 22px;
    margin: 10px 120px;
    color: #777;
}

section.global div.pano{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

section.global div.pano picture img{
    padding: 20px;
    border-radius: 30px;
}

section.social{
    height: 100vh;
}

section.social div.social-top h2{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    font-size: 36px;
    font-weight: 600;
    padding: 10px;
}

section.social div.social-top p{
    line-height: 22px;
    margin: 10px 120px;
    color: #777;
}

section.social div.social-center{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 80px;
}

section.social div.social-center div.social-pano{
    display: flex;
    align-items: center;
    flex-direction: column;
}

section.social div.social-center div.social-pano h3{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    margin-top: 20px;
}

section.social div.social-center div.social-pano p{
    font-family: sans-serif;
    font-size: 14px;
    color: #777;
    line-height: 22px;
    padding: 20px;
    margin-bottom: 20px;
}

section.social div.social-center div.social-pano picture img{
    border-radius: 30px;
}

section.comment{
    height: 100vh;
}

section.comment div.comment-top h2{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    font-size: 36px;
    font-weight: 600;
    padding: 10px;
    margin-top: 120px;
}

section.comment div.comment-top p{
    line-height: 22px;
    margin: 10px 120px;
    color: #777;
} 

div.star{
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 20px;
}

div.comment-column{
    display: flex;
    flex-direction: column;
    align-items: flex-start;    
}

div.comment-pano picture img{
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
    border-radius: 100%;
    margin: 20px;
}

div.comment-pano{
    width: 600px;
    height: 200px;
    display: flex;
    align-items: flex-start;
    background-color: #fff3f3;
    margin: 10px;
    border-radius: 20px;
}

div.comment-center{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}

div.comment-column{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

div.comment-column p{
    color: #777;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 200;
    line-height: 22px;
}

div.comment-column h3{
    margin-top: 20px;
}

section.bottom{
    background-image: url(./images/bottom.jpg);
    height: 60vh;
 
}

.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-family: sans-serif;
    font-size: 40px;
    font-weight: bold;
    padding: 140px;
}

.finitop h3{
    margin-top: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.finitop p{
    margin: 30px 100px;
    color: #777;
    font-family: sans-serif;
    font-size: 14px;
}

.fanito{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.finibottom{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

.finibottom p{
    color: #777;
}

.finibottom span{
    color: slateblue ;
    padding: 5px;
}

.second{
    padding: 40px;
}

.contact button{
    height: 50px;
    width: 150px;
    color: white;
    background-color: transparent;
    border: 1px solid white;
    font-weight: bold;
}

.fanito{
    color: slateblue;
}